:root {
    --border-color: 1px solid #ccc;
    --bg-color: #85aaee;
    --border-radius: 5px;
    --border: 1px solid #ccc;
    --textColor: black;
}

.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--textColor);
}

.container {
    max-width: 1780px;
    margin: 10px auto;
    padding: 0 20px;
}

@media (max-width: 768px) {
    .container {
      width: 100%;
      font-size: 0.9rem;
    }
    .banners {
        gap: 10px;
      }
}

.loading {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: var(--bg-color);
    padding: 50px 0;
}

