.nav {
  border: var(--border);
  position: relative;
}

.nav_menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 20px;
}

.nav_menu_btn {
  background-color: #789ec7;
  color: white;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.nav_menu_btn:hover {
  background-color: #f0f0f0;
}

.nav_menu_dropdown {
  position: absolute;
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
  width: 100%;
}

.nav_menu-list{
color: var(--bg-color);
}

.nav_menu-item {
  font-size: 14px;
  padding: 8px 16px;
  cursor: pointer;
  text-align: left;
}

.nav_menu-item:hover {
  background-color: #f0f0f0;
}

